@import-normalize;

body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.active {
  color: #e84a5f;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
}

.section {
  background-image: url("./assets/book_background.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  width: 912px;
  height: 912px;
}
.book {
  padding: 200px 60px 0px 100px;
  overflow: hidden;
  display: flex;
  gap: 280px;
}
